### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### Application local ###
src/main/resources/application-local.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml

### Environment ###
.env

### Windows ###
Thumbs.db
Desktop.ini

### macOS ###
.DS_Store

### VS Code ###
.vscode/

### Eclipse / STS ###
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Temporary files ###
*.tmp
*.swp